<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Untis to Calendar</span>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/panel">Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <h1>Create</h1>
    <form action="/panel/new-api" method="POST">
        <div class="form-group">
            <label for="type">Type of Timetable</label>
            <select disabled name="type" id="type" class="form-select" >
                <option <% if (type === 'public') { %>selected<% } %> value="public">Public Timetable</option>
                <option <% if (type === 'private') { %>selected<% } %> value="private">Private Timetable</option>
            </select>
            <input type="hidden" name="type" id="type" value="<%= type %>">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input disabled type="text" name="name" id="name" value="<%= name %>" class="form-control">
            <input type="hidden" name="name" id="name" value="<%= name %>">
        </div>
        <div class="form-group">
            <label for="domain">Domain</label>
            <input disabled type="text" name="domain" id="domain" value="<%= domain %>" class="form-control">
            <input type="hidden" name="domain" id="domain" value="<%= domain %>">
        </div>
        <div class="form-group">
            <label for="school">School</label>
            <input disabled type="text" name="school" id="school" value="<%= school %>" class="form-control">
            <input type="hidden" name="school" id="school" value="<%= school %>">
        </div>
        <div class="form-group">
            <label for="timezone">Timezone</label>
            <input disabled type="text" name="timezone" id="timezone" value="<%= timezone %>" class="form-control">
            <input type="hidden" name="timezone" id="timezone" value="<%= timezone %>">
        </div>
        <% if (type === 'public') { %>
        <div class="form-group mb-3">
            <label for="classes">Select Class</label>
            <select name="classes" id="classes" class="form-control">
                <% classes.forEach(c => { %>
                    <option value="<%= c.id %>"><%= c.name %></option>
                <% }) %>
            </select>
        </div>
        <% } else { %>
            <div class="alert alert-warning mt-3" role="alert">
                Warning! Your personal username and password will be stored on this instance of untis-to-calendar. Make sure you trust this instance before giving your data!
            </div>
            <div class="form-group">
                <label for="username">Untis Username</label>
                <input required type="text" name="username" id="username" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="password">Untis Password</label>
                <input required type="password" name="password" id="password" class="form-control">
            </div>
        <% } %>
        <a href="/panel" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>
